@font-face {
	font-family: 'calibril';
	src: url('../fonts/calibril/calibril.eot');
	src: url('../fonts/calibril/calibril.eot?#iefix') format('embedded-opentype'),
	url('../fonts/calibril/calibril.otf') format('woff'),
	url('../fonts/calibril/calibril.ttf') format('truetype'),
	url('../fonts/calibril/calibril.svg#cuprumffuregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'calibrib';
	src: url('../fonts/calibrib/calibrib.eot');
	src: url('../fonts/calibrib/calibrib.eot?#iefix') format('embedded-opentype'),
	url('../fonts/calibrib/calibrib.otf') format('woff'),
	url('../fonts/calibrib/calibrib.ttf') format('truetype'),
	url('../fonts/calibrib/calibrib.svg#cuprumffuregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'AkrobatB';
	src: url('../fonts/akrobat/Akrobat-Bold.eot');
	src: url('../fonts/akrobat/Akrobat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/akrobat/Akrobat-Bold.otf') format('woff'),
	url('../fonts/akrobat/Akrobat-Bold.ttf') format('truetype'),
	url('../fonts/akrobat/Akrobat-Bold.svg#cuprumffuregular') format('svg');
	font-weight: normal;
	font-style: normal;
}