.proects {
	.sl {
	}
	.sl__block {
		position: relative;
		a {
			position: absolute;
			font-size: 42px;
			text-transform: uppercase;
			color: #000000;
			padding: 30px 60px 30px 60px;
			background: rgba(255, 255, 255, 0.8);
			top: 0;
			left: 0;
			.icon-ico-01:before {
				content: "\e90a";
				color: $sv__orange;
				right: 0;
				position: relative;
				transition: .4s all;
			}
			&:hover .icon-ico-01:before {
				right: -20px;
			}
		}
	}
}